body {
  background:#191970;
  font:normal 15pt arial;
  text-align:center;
  font-style:italic;
}

header {
  color:white;
}

main {
  background:white;
  border-radius:2rem;
  padding:0.5rem;
  box-shadow:0.2rem 0.2rem 0.5rem;
}

div#message {
  padding-top:1rem;
}

img {
  width:100%;
}

footer {
  color:white;
}